<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>FPT Long Chau - @ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/FPTLongChau.styles.css" asp-append-version="true" />
	<!-- Font Awesome -->
	<link rel="stylesheet"
		  href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
	<!-- Google Fonts Roboto -->
	<link rel="stylesheet"
		  href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" />

	<!-- MDB -->
	<link href="https://cdn.jsdelivr.net/npm/mdb-ui-kit/css/mdb.min.css" rel="stylesheet" />
	<!-- Custom styles -->
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	@*     <header>
	<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
	<div class="container-fluid">
	<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">FPTLongChau</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
	aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
	</button>
	<div class="navbar-collapse d-sm-inline-flex justify-content-between collapse">
	<ul class="navbar-nav flex-grow-1">
	<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
	</li>
	<li class="nav-item">
	<a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
	</li>
	</ul>
	<partial name="_LoginPartial" />
	</div>
	</div>
	</nav>
	</header> *@

	<!--Main Navigation-->
	<!--Main Navigation-->
	<header>
		<!-- Jumbotron -->
		<div class="p-3 bg-white border-bottom text-center">
			<div class="container">
				<div class="row gy-3">
					<!-- Left elements -->
					<div class="col-lg-2 col-sm-4 col-4">
						<a href="/"
						   class="float-start">
							<img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
								 height="35" />
						</a>
					</div>
					<!-- Left elements -->
					<!-- Center elements -->
					<partial name="_LoginPartial" />
					<!-- Center elements -->
					<!-- Right elements -->
					<div class="col-lg-5 col-md-12 col-12">
						<div class="input-group float-center">
							<div class="form-outline">
								<input type="search"
									   id="form1"
									   class="form-control" />
								<label class="form-label" for="form1">Search</label>
							</div>
							<button type="button"
									class="btn btn-primary shadow-0">
								<i class="fas fa-search"></i>
							</button>
						</div>
					</div>
					<!-- Right elements -->
				</div>
			</div>
		</div>
		<!-- Jumbotron -->
		<!-- Navbar -->
		<partial name="_Navbar" />
		<!-- Navbar -->
	</header>
	<div class="container">
		<main role="main" class="">
			@RenderBody()
		</main>
	</div>
	<!-- Footer -->
	<footer class="text-lg-start text-muted mt-3 text-center"
			style="background-color: #f5f5f5">
		<!-- Section: Links  -->
		<section class="">
			<div class="text-md-start pt-4 pb-4 container text-center">
				<!-- Grid row -->
				<div class="row mt-3">
					<!-- Grid column -->
					<div class="col-12 col-lg-3 col-sm-12 mb-2">
						<!-- Content -->
						<a href="/"
						   class="">
							<img src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.png"
								 height="35" />
						</a>
						<p class="mt-2 text-dark">
							© @DateTime.Now.ToString("yyyy") Copyright: <a target="_blank" href="https://github.com/ahgaming03">LongChau.com</a>
						</p>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-6 col-sm-4 col-lg-2">
						<!-- Links -->
						<h6 class="text-uppercase text-dark fw-bold mb-2">
							Store
						</h6>
						<ul class="list-unstyled mb-4">
							<li>
								<a class="text-muted" href="#">About us</a>
							</li>
							<li>
								<a class="text-muted" href="#">Find store</a>
							</li>
							<li>
								<a class="text-muted" href="#">Categories</a>
							</li>
							<li>
								<a class="text-muted" href="#">Blogs</a>
							</li>
						</ul>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-6 col-sm-4 col-lg-2">
						<!-- Links -->
						<h6 class="text-uppercase text-dark fw-bold mb-2">
							Information
						</h6>
						<ul class="list-unstyled mb-4">
							<li>
								<a class="text-muted" href="#">Help center</a>
							</li>
							<li>
								<a class="text-muted" href="#">Money refund</a>
							</li>
							<li>
								<a class="text-muted" href="#">Shipping info</a>
							</li>
							<li>
								<a class="text-muted" href="#">Refunds</a>
							</li>
						</ul>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-6 col-sm-4 col-lg-2">
						<!-- Links -->
						<h6 class="text-uppercase text-dark fw-bold mb-2">
							Support
						</h6>
						<ul class="list-unstyled mb-4">
							<li>
								<a class="text-muted" href="#">Help center</a>
							</li>
							<li>
								<a class="text-muted" href="#">Documents</a>
							</li>
							<li>
								<a class="text-muted" href="#">Account restore</a>
							</li>
							<li>
								<a class="text-muted" href="#">My orders</a>
							</li>
						</ul>
					</div>
					<!-- Grid column -->
					<!-- Grid column -->
					<div class="col-12 col-sm-12 col-lg-3">
						<!-- Links -->
						<h6 class="text-uppercase text-dark fw-bold mb-2">
							Newsletter
						</h6>
						<p class="text-muted">
							Stay in touch with latest updates about our
							products and offers
						</p>
						<div class="input-group mb-3">
							<input type="email"
								   class="form-control border"
								   placeholder="Email"
								   aria-label="Email"
								   aria-describedby="button-addon2" />
							<button class="btn btn-light shadow-0 border"
									type="button"
									id="button-addon2"
									data-mdb-ripple-color="dark">
								Join
							</button>
						</div>
					</div>
					<!-- Grid column -->
				</div>
				<!-- Grid row -->
			</div>
		</section>
		<!-- Section: Links  -->

		<div class="">
			<div class="container">
				<div class="d-flex justify-content-between py-4 border-top">
					<!--- payment --->
					<div>
						<i class="fab fa-lg fa-cc-visa text-dark"></i>
						<i class="fab fa-lg fa-cc-amex text-dark"></i>
						<i class="fab fa-lg fa-cc-mastercard text-dark"></i>
						<i class="fab fa-lg fa-cc-paypal text-dark"></i>
					</div>
					<!--- payment --->
					<!--- language selector --->
					<div class="dropdown dropup">
						<a class="dropdown-toggle text-dark"
						   href="#"
						   id="Dropdown"
						   role="button"
						   data-mdb-toggle="dropdown"
						   aria-expanded="false">
							<i class="flag-united-kingdom flag m-0 me-1"></i>English
						</a>

						<ul class="dropdown-menu dropdown-menu-end"
							aria-labelledby="Dropdown">
							<li>
								<a class="dropdown-item" href="#">
									<i class="flag-united-kingdom flag"></i>English
									<i class="fa fa-check text-success ms-2"></i>
								</a>
							</li>
							<li><hr class="dropdown-divider" /></li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="flag-poland flag"></i>Polski
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="flag-japan flag"></i>日本語
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="flag-germany flag"></i>Deutsch
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="flag-france flag"></i>Français
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="flag-spain flag"></i>Español
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="flag-russia flag"></i>Русский
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="flag-portugal flag"></i>Português
								</a>
							</li>
							<li>
								<a class="dropdown-item" href="#">
									<i class="flag-vietnam flag"></i>Vietnamese
								</a>
							</li>
						</ul>
					</div>
					<!--- language selector --->
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer -->



	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
