@model List<FPTLongChau.Models.CartItemViewModel>;
@{
	var products = Model;
}

<div class="ms-lg-4 mt-4 mt-lg-0"
	 style="max-width: 320px">
	<h6 class="mb-3">Summary</h6>
	<div class="d-flex justify-content-between">
		<p class="mb-2">Total price:</p>
		<p class="mb-2">$<span></span></p>
	</div>
	<div class="d-flex justify-content-between">
		<p class="mb-2">Shipping cost:</p>
		<p class="mb-2 text-success">Free</p>
	</div>
	<hr />
	<div class="d-flex justify-content-between">
		<p class="mb-2">Total price:</p>
		<p class="mb-2 fw-bold">$1520.00</p>
	</div>

	<div class="input-group mt-3 mb-4">
		<input type="text"
			   class="form-control border"
			   name=""
			   placeholder="Promo code" />
		<button class="btn btn-light text-primary border">
			Apply
		</button>
	</div>

	<hr />
	<h6 class="text-dark my-4">Items in cart</h6>
	@foreach(var product in products)
	{
		<div class="d-flex align-items-center mb-4">
			<div class="me-3 position-relative">
				<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill badge-secondary">
					1
				</span>
				@if(product.Image != null)
				{
					<img src="https://pharmacitylongchau.blob.core.windows.net/imagecontainer/@Html.DisplayFor(modelItem => product.Image)"
						 class="img-sm rounded border"
						 style="width: 96px;
                            height: 96px;"
						 alt="@Html.DisplayFor(modelItem => product.Title)" />
				}
				else
				{
					<img src="~/img/default_image.jpg"
						 class="img-sm rounded border"
						 style="width: 96px;
                            height: 96px;"
						 alt="@Html.DisplayFor(modelItem => product.Title)" />
				}
			</div>
			<div class="">
				<a href="#" class="nav-link">
					Gaming Headset with Mic <br />
					Darkblue color
				</a>
				<div class="price text-muted">
					Total: $500.00
				</div>
			</div>
		</div>
	}
</div>
