@model FPTLongChau.Models.ProductViewModel;

@{
	ViewData["Title"] = "Home page";
}
<!-- Products -->
@foreach(var category in Model.Categories)
	@if(Model.Products.Any(p => p.CategoryId == category.Id))
	{

		<section>
			<div class="my-5 container">
				<header class="mb-4">
					<h3>@Html.DisplayFor(modelItem => category.Title)</h3>
				</header>

				<div class="row">
					@foreach(var product in Model.Products)
						@if(product.CategoryId == category.Id)
						{
							@await Html.PartialAsync("~/Views/Shared/Products/_ProductCard.cshtml", product)
						}
				</div>
			</div>
		</section>
	}
<!-- Products -->
<!-- Feature -->
<section class="mt-5">
	<div class="text-dark pt-3 container">
		<header class="pt-4 pb-3">
			<h3>Why choose us</h3>
		</header>

		<div class="row mb-4">
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-camera-retro fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Reasonable prices</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-star fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Best quality</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-plane fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Worldwide shipping</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-users fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Customer satisfaction</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-thumbs-up fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Happy customers</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
			<div class="col-lg-4 col-md-6">
				<figure class="d-flex align-items-center mb-4">
					<span class="rounded-circle bg-white p-3 d-flex me-2 mb-2">
						<i class="fas fa-box fa-2x fa-fw text-primary floating"></i>
					</span>
					<figcaption class="info">
						<h6 class="title">Thousand items</h6>
						<p>
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit sed do eiusmor
						</p>
					</figcaption>
				</figure>
				<!-- itemside // -->
			</div>
			<!-- col // -->
		</div>
	</div>
	<!-- container end.// -->
</section>
<!-- Feature -->
