@page
@model RegisterModel
@{
	ViewData["Title"] = "Create an Account";
}

<div class="card o-hidden my-5 border-0 shadow-lg">
	<div class="card-body p-0">
		<!-- Nested Row within Card Body -->
		<div class="row">
			<div class="col-lg-5 d-none d-lg-block">
				<img class="img-fluid" src="~/img/bg-LongChau.png"/>
			</div>
			<div class="col-lg-7">
				<div class="p-5">
					<a asp-area="" asp-controller="Home" asp-action="Index" class="small">
						<i class="fas fa-long-arrow-alt-left"></i>
						Back to Home
					</a>
					<div class="text-center">
						<h1 class="h4 text-gray-900 mb-4">@ViewData["Title"]</h1>
					</div>
					<form class="user" id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
						<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<input asp-for="Input.FirstName" class="form-control form-control-user" autocomplete="FirstName" id="FirstName"
									   placeholder="First Name">
								<span asp-validation-for="Input.FirstName" class="text-danger"></span>
							</div>
							<div class="col-sm-6">
								<input asp-for="Input.LastName" class="form-control form-control-user" autocomplete="LastName" id="LastName"
									   placeholder="Last Name">
								<span asp-validation-for="Input.LastName" class="text-danger"></span>
							</div>
						</div>
						<div class="form-group">
							<input asp-for="Input.Email" type="email" class="form-control form-control-user" id="exampleInputEmail" autocomplete="username" aria-required="true"
								   placeholder="Email Address">
							<span asp-validation-for="Input.Email" class="text-danger"></span>
						</div>
						<div class="form-group row">
							<div class="col-sm-6 mb-3 mb-sm-0">
								<input asp-for="Input.Password" type="password" class="form-control form-control-user" autocomplete="new-password" aria-required="true"
									   id="InputPassword" placeholder="Password">
								<span asp-validation-for="Input.Password" class="text-danger"></span>

							</div>
							<div class="col-sm-6">
								<input asp-for="Input.ConfirmPassword" type="password" class="form-control form-control-user" autocomplete="new-password" aria-required="true"
									   id="ConfirmPassword" placeholder="Confirm Password">
								<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
							</div>
						</div>
						<button id="registerSubmit" type="submit" class="btn btn-primary btn-user btn-block">
							Register Account
						</button>
					</form>
					<hr>
					<div class="text-center">
						<a class="small" asp-page="./Login">Already have an account? Login!</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
