@* @model List<FPTLongChau.Areas.Admin.Models.Product>; *@
@{
	ViewData["Title"] = "Shopping Cart";
}
<!-- cart + summary -->
<section class="bg-light my-5">
	<div class="container">
		<div class="row">
			<!-- cart -->
			<div class="col-lg-9">
				<div class="card shadow-0 border">
					<div class="m-4">
						<h4 class="card-title mb-4">
							Your shopping cart
						</h4>
						<div id="cartList">
							@* @await Html.PartialAsync("_CartList", Model) *@
						</div>

					</div>

					<div class="border-top pt-4 mx-4 mb-4">
						<p>
							<i class="fas fa-truck text-muted fa-lg"></i>
							Free Delivery within 1-2 weeks
						</p>
						<p class="text-muted">
							Lorem ipsum dolor sit amet, consectetur
							adipisicing elit, sed do eiusmod tempor
							incididunt ut labore et dolore magna aliqua.
							Ut enim ad minim veniam, quis nostrud
							exercitation ullamco laboris nisi ut aliquip
						</p>
					</div>
				</div>
			</div>
			<!-- cart -->
			<!-- summary -->
			<div class="col-lg-3">
				<div class="card shadow-0 border">
					<div class="card-body">
						<div class="d-flex justify-content-between">
							<p class="mb-2">Total price:</p>
							<p class="mb-2 fw-bold">1,500.00</p>
						</div>
						<hr />

						<div class="mt-3">
							<a class="btn btn-success w-100 shadow-0 mb-2"
							   asp-controller="Purchases"
							   asp-action="Index">
								Make Purchase
							</a>
							<a class="btn btn-light w-100 mt-2 border"
							   asp-controller="Home"
							   asp-action="Index">
								Back to shop
							</a>
						</div>
					</div>
				</div>
			</div>
			<!-- summary -->
		</div>
	</div>
</section>


