@model FPTLongChau.Areas.Admin.Models.Order
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
	ViewData["Title"] = "Purchase";
	var userId = UserManager.GetUserId(User);
	var user = await UserManager.FindByIdAsync(userId);
	var FirstName = user.FirstName;
	var LastName = user.LastName;
	var Email = user.Email;
	var PhoneNumber = user.PhoneNumber;
	var Address = user.Address;

}

<section class="bg-light py-5">
	<div class="container">
		<div class="row">
			<div class="col-xl-8 col-lg-8 mb-4">
				<!-- Checkout -->
				<div class="card shadow-0 border">
					<form class="p-4" id="checkout" asp-area="" asp-controller="Carts" asp-action="Checkout">
						<h5 class="card-title mb-3">Information</h5>
						<div class="row">
							<div class="col-6 mb-3">
								<p class="mb-0">First name</p>
								<div class="form-group border">
									<input type="text"
										   id="typeText"
										   value="@FirstName"
										   asp-for="FirstName"
										   class="form-control" />
								</div>
							</div>

							<div class="col-6">
								<p class="mb-0">Last name</p>
								<div class="form-group border">
									<input type="text"
										   id="typeText"
										   value="@LastName"
										   asp-for="LastName"
										   class="form-control" />
								</div>
							</div>

							<div class="col-6 mb-3">
								<p class="mb-0">Phone</p>
								<div class="form-group border">
									<input type="tel"
										   id="typePhone"
										   value="@PhoneNumber"
										   asp-for="PhoneNumber"
										   class="form-control" />
								</div>
							</div>
							<div class="col-6 mb-3">
								<p class="mb-0">PayMode</p>
								<select asp-for="PayModeId" class="form-control" asp-items="ViewBag.PaymodeId"></select>
							</div>

							<div class="col-12 mb-3">
								<p class="mb-0">Address</p>
								<div class="form-group border">
									<input type="text"
										   id="typeText"
										   value="@Address"
										   asp-for="Address"
										   class="form-control" />
								</div>
							</div>
						</div>
						<input type="hidden" id="shoppingCart" name="shoppingCart" />
						<div class="float-end">
							<a asp-area=""
							   asp-controller="Carts"
							   asp-action="Index"
							   class="btn btn-light border">
								Cancel
							</a>
							<button type="submit" class="btn btn-success shadow-0 border">
								Done
							</button>
						</div>
					</form>
				</div>
				<!-- Checkout -->
			</div>
			<!-- Receipt -->
			<div class="col-xl-4 col-lg-4 d-flex justify-content-center justify-content-lg-end" id="receipt">
				@* @await Html.PartialAsync("_Receipt") *@
			</div>


		</div>
	</div>
</section>

@section Scripts
		 {
	<script src="~/js/Purchase.js"></script>
}